# ---- Python ----
__pycache__/
*.py[cod]

# ---- Virtual Env ----
.venv/
venv/

# ---- Pytest ----
.pytest_cache/
.coverage
htmlcov/

# ---- Allure ----
allure-results/
allure-report/

# ---- Env / Secrets ----
.env
.env.*
env.local.yaml
config.local.yaml

# ---- IDE ----
.idea/
.vscode/

# ---- OS ----
.DS_Store
Thumbs.db
